@use "./mixins" as m;


.vote {
  background-color: var(--Very-light-gray);
  border-radius: 10px;
  height: 110px;

  @include m.xs {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 110px;
  }

  button, p {
    @include m.xs {
      margin: 0;

    }
  }
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--Light-grayish-blue);
  font-size: 16px;
  font-weight: 700;
}

.count {
  color: var(--Moderate-blue);
  font-weight: 700;
}

.calc {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  background-color: #0000005e;
  z-index: 1;
}
.delete-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;

  background-color: white;
  border-radius: 10px;
  z-index: 2;

  h2 {
  color: var(--Dark-blue);
    font-weight: 500;
  }

  p {
    line-height: 20px;
    color: var(--Grayish-Blue);
  }

  .confirm-button {
    justify-content: center;
    gap: 20px;

    .no-cancel {
      border: none;
      background-color: var(--Grayish-Blue);
      color: white;
      font-family: 'Rubik', sans-serif;
      font-weight: 400;
      border-radius: 5px;
      padding: 10px 20px;
    }

    .yes-delete {
      border: none;
      background-color: var(--Soft-Red);
      color: white;
      font-family: 'Rubik', sans-serif;
      font-weight: 400;
      border-radius: 5px;
      padding: 10px 20px;
    }
  }


}

.info-container {
  justify-content: space-between;

  .info {
    gap: 15px;

    img {
      width: 35px;
    }

    .username {
      color: var(--Dark-blue);
      font-weight: 500;
    }

    .created-at {
      color: var(--Grayish-Blue);
    }

    .my-messages {
      background-color: var(--Moderate-blue);
      color: white;
      padding: 1px 5px;
    }
  }

  .reply {
    gap: 5px;
    cursor: pointer;

    @include m.xs {
      position: absolute;
      bottom: 33px;
      right: 25px;
    }

    span {
      color: var(--Moderate-blue);
      font-weight: 700;
    }
  }

  .edit-delete {
    gap: 15px;

    @include m.xs {
      position: absolute;
      bottom: 33px;
      right: 25px;
    }

    img {
      cursor: pointer;
      margin-right: 8px;
    }

    .edit {
      cursor: pointer;
      color: var(--Moderate-blue);
      font-weight: 700;
    }

    .delete {
      cursor: pointer;
      color: var(--Soft-Red);
      font-weight: 700;
    }
  }
}

.comment {
  color: var(--Grayish-Blue);
  line-height: 25px;

  p {
    width: 100%;
  }
  textarea {
    display: block;
    resize: none;
    border: 1px solid var(--Light-gray);
    border-radius: 5px;
    height: 100px;
    width: 100%;
    padding: 10px;
    overflow: auto;

    &:focus {
      outline: none;
      border: 1px solid var(--Dark-blue);
    }
  }
  button {
    cursor: pointer;
    border: none;
    color: white;
    background-color: var(--Moderate-blue);
    border-radius: 5px;
    width: 100px;
    height: 40px;
  }

  .update-comment {
    align-items: end;
    gap: 10px;
  }

  .replying-to {
    color: var(--Moderate-blue);
    font-weight: 500;
  }

}