@use "./mixins" as m;

img {
  width: 45px;

  @include  m.xs {
    width: 35px;
    grid-area: 2 / 1 / 3 / 2;
  }
}

textarea {
  outline: none;
  resize: none;
  border: 1px solid var(--Light-gray);
  border-radius: 5px;
  height: 100%;
  padding: 10px;

  &:focus {
    outline: none;
    border: 1px solid var(--Dark-blue);
  }

  @include m.xs {
    grid-area: 1 / 1 / 2 / 3;
    height: 100px;
  }
}

button {
  cursor: pointer;
  border: none;
  color: white;
  background-color: var(--Moderate-blue);
  border-radius: 5px;
  width: 80px;
  height: 40px;

  @include  m.xs {
    grid-area: 2 / 2 / 3 / 3;
    height: 45px;
    margin-left: auto;
  }
}