@use "./mixins" as m;

.send-reply-container {
  background-color: white;
  width: 100%;
  height: 110px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;

  @include m.xs {
    width: 100%;
    height: 100%;
    display: grid;
    padding: 15px;

  }

  @import "send-comment-content";
}


.send-container {
  position: relative;
  background-color: white;
  width: 40%;
  height: 150px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;

  @include m.xs {
    width: 100%;
    height: 100%;
    display: grid;
    padding: 15px;

  }


  @import "send-comment-content";

}